/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Urbanist", sans-serif;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-base: #0b0b0b;
}

/* Footer Social Icon Css */
.icon {
  @apply w-8 h-8 rounded-full  flex justify-center items-center;
}

/* react-responsive-carousel CSS */
.carousel .control-arrow {
  @apply bg-base-200/30!  opacity-100! w-11 h-11 rounded-full flex justify-center items-center hover:bg-base-200! duration-300;
}
.carousel .control-prev.control-arrow {
  @apply top-auto! bottom-5! left-[87%]!;
}

/* Right arrow */
.carousel .control-next.control-arrow {
  @apply top-auto! bottom-5! right-[5%]!;
}

/* Form Label Scc for Send A parcel page form */
.label2 {
  @apply text-black text-[15px] mt-5;
}
